.month-container {
    height: 100%;
}

.month-rows{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0;
    margin: 0;
    list-style: none;
    background-color: grey;
}

.week-container {
    box-sizing: border-box;
}

.week-columns{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0;
    margin: 0;
    list-style: none;
    background-color: grey;
    min-height: 150px;
}

.day-container{
    box-sizing: border-box;
    width: calc(100%/5);
    padding: 0px 10px;
    position: relative;
}

.day-rows{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 0;
    margin: 0;
    list-style: none;
    background-color: grey;
    height: 250px;
}

.day-container .free-container{
    cursor: pointer;
}

.date-container{
    position: absolute;
    top: -17px;
}