.month-rows{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0;
    margin: 0;
    list-style: none;
    background-color: grey;
}

.week-container {
    box-sizing: border-box;
}

.week-columns{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0;
    margin: 0;
    list-style: none;
    background-color: grey;
    min-height: 150px;
}

.day-container{
    box-sizing: border-box;
    width: calc(100%/5);
}

.day-rows{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 0;
    margin: 0;
    list-style: none;
    background-color: grey;
    height: 250px;
}

.slot-container{
    min-height: 15px;
}

.reported-container{
    border: 1px solid red;
    margin: -1px 0px -1px 0px;
}

.free-container{
    background-color: ivory;
}