.task-list-container{
    float: right;
    height:100%;
    padding-top: 15px;
    padding-bottom: 15px;
    
    overflow-y: auto;
    direction: ltr;
}

.task-list-container input{
    direction: rtl;
}

.alertBlinkBG{
    animation: blinker .5s linear 2;
}

@keyframes blinker{
    50%{
        background-color:#ff0e0ea1;
    }
}